/* .buttonRow {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

} 

.content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.actions {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  gap: 1rem;

  padding: 1rem;

  overflow-x:auto;
} 

*/

.answerBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 12px; /* space between buttons */
}