/*Base button rules, most other buttons will inherit these*/
/*As such, only apply boilerplate styling, size and such*/
.button {
    font-family: "Hylia Serif";
    font-size: 1.5em;

    margin: 0px 10px;
    border-radius: 6px;

    min-height: 100px;
    width: 200px;

    color: black;
    /*This is to enforce the colour for mobile devices, in testing i saw that this changed to blue since they're technically links i guess idk*/
}

@media (max-width: 600px) {
    .button {
        width: 90%;
        max-width: 200px;

        min-height: 64px;
        padding: 12px;
    }
}

/*Rules for specific buttons on the application, helpfully named and will be applied using clsx. Only affecting colour and slight visuals, dimensions and shape are defined in base selectors /\  */

.startButton {
    background-color: rgb(0, 158, 221);
}


.helpButton {
    background-color: #FEFB67;
}


.backButton {
    background-color: rgb(255, 148, 43);
}




.submitButton {
    font-size: 1em;
    background-color: #BFECF1
}


.proceedButton {
    background-color: #00E4FF
}






/*These are primarily for quiz logic*/
.correctAnswer {
    background-color: rgb(79, 179, 128)
}

.incorrectAnswer {
    background-color: rgb(232, 74, 66);
}