/*Base button rules, most other buttons will inherit these*/
/*As such, only apply boilerplate styling, size and such*/
.button {
    font-family: "Hylia Serif";
    font-size: 1.5em;

    margin: 0px 10px;
    border-radius: 6px;

    height: 100px;
    width: 200px;
}

/*Rules for specific buttons on the application, helpfully named and will be applied using clsx. Only affecting colour and slight visuals, dimensions and shape are defined in base selectors /\  */

.startButton {
    background-color: lightblue;
}
.helpButton {
    background-color: pink;
}
.backButton{
    background-color: lightcoral;
}
.resultsButton{
    background-color: orange;
}
.submitButton {
    font-size:1em;
    background-color:white
}
.proceedButton{
    background-color: lightskyblue
}





/*These are primarily for quiz logic*/
.correctAnswer{
    background-color: lightgreen;
}
.incorrectAnswer{
    background-color:rgb(255, 84, 84);
}