.background {
  position: fixed;
  inset: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0;
}
.overlay{
    position:fixed;
    inset:0;

    background: rgba(0,0,0,0.4);

    z-index: 1;
}
.pageTitle {
    color: white;

    margin-bottom: 100px;
    margin-top: 50px;

    text-align:center;
}
.app {
  position: relative;
  min-height: 100vh;
}
.wrapper {
  position: relative;
  z-index: 1;

  min-height: 100vh;

display:grid;
grid-template-rows: auto 1fr;

justify-items: center   ;

}
.container {
  background: rgba(255, 255, 255, 0.6);

  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 800px;
  max-height:60%;

  text-align: center;
  color: black;
  justify-content: center;
}