:root {
  font-size: 1.5em;
}

.layout {
  position: relative;
  z-index: 2;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  background: rgba(255, 255, 255, 0.4);
  color: black;

  width: 60%;
  max-width: 900px;

  min-height: 500px;
  max-height: 80vh;


  border-radius: 6px;
  border-style: solid;
  border-color: rgba(200, 160, 0);
  border-width: 0.25em;

  text-align: center;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}