.helpContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.helpDescriptor {
    text-align: center;

    width: 50%;
    display:flex;
    flex-direction: column;
}


.answerBox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 4px;
    justify-content: center;

    width: fit-content;
    min-height: unset;

    
}

.proceedBox {
  padding-top:0.5rem
}
